<!DOCTYPE html>
<html>
<head>
  <title>sdk-demo</title>
  <style type="text/css" title="dynamicsyntax"></style>
</head>
<body>
<button id="create"> 创建文档 </button>
<div id="container"></div>
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<!--<script type="text/javascript" src="<%= sdkJsUrl %>"></script>-->
<script src="http://localhost:3011/dist/assets/scripts/sdk-1.0.0.alpha.debug.js"></script>
<script>
  if (typeof window.Shimo === 'undefined') {
    alert('SDK javascript 文件加载失败');
  }
  window.test = {
    appKey: '<%= appKey %>',
    user: <%- JSON.stringify(user) %>
  };
</script>
<script type="text/javascript">
  window.onload = function () {
    const Editor = new Shimo({
      appId: window.test.appKey,
      user: window.test.user,
      signUrl: 'http://localhost:3012/sign'
    });

    document.getElementById('create').addEventListener('click', () => {
      Editor.start({
        containerId: 'container',
        guid: 'd37a60b9740242f9aa2eaa6ff506fe91'
      })
      // Editor.create('有标题').then(result => {
      //   Editor.start({
      //     containerId: 'container',
      //     guid: result.guid
      //   });
      // });
    })
  };
</script>
</body>
</html>